@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Montserrat:wght@400;500;600;700&display=swap');

@theme {
  --font-sans: Montserrat, sans-serif;
  --font-heading: Poppins, sans-serif;

  --animate-fade-in: fadeIn 0.8s ease-in-out;
  --animate-slide-up: slideUp 0.8s ease-in-out;
  --animate-zoom-in: zoomIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideUp {
  0% { transform: translateY(30px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes zoomIn {
  0% { transform: scale(0.95); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

:root {
  --color-primary-blue: #0F0F0F ;
  --color-primary-dark: #2B2B2B ;
  --color-secondary-teal: #6E6E6E ;
  --color-third: #F4F4F4  ;
  --color-fourth: #FFFFFF ;
  --Color-fifth: #B89B5E  ;
}




html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 700;
}



/*  beackgroung color*/
.bg-dark-section {
  background-color: var(--color-primary-dark);
}

.bg-white-section {
  background-color: var(--color-third);
}

/*  */








.btn-primary {
  background: linear-gradient(to right,rgb(0, 0, 0) , rgb(75, 85, 99));
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  font-weight: 600;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-primary:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  transform: translateY(-4px);
}

.btn-outline {
  border: 2px solid rgba(0, 0, 0, 0.579);
  color: rgb(0, 0, 0);
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  font-weight: 600;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 0.5rem;

}

.btn-outline:hover {
  background: linear-gradient(to right,rgb(0, 0, 0) , rgb(75, 85, 99));
  color: white;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  transform: translateY(-4px);
  border-color: transparent;

}

.section-title {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--color-primary-dark);
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5rem;
  height: 0.25rem;
  background-color: var(--color-secondary-teal);
  border-radius: 9999px;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 3rem;
  }
}

.card-hover {
  transition: all 0.3s;
}

.card-hover:hover {
  transform: translateY(-12px);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  border-color: var(--color-primary-blue);
}
